<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--&lt;!&ndash;-->
  <!--~ 版权所有:杭州火图科技有限公司-->
  <!--~ 地址:浙江省杭州市滨江区西兴街道阡陌路智慧E谷B幢4楼-->
  <!--~-->
  <!--~ (c) Copyright Hangzhou Hot Technology Co., Ltd.-->
  <!--~ Floor 4,Block B,Wisdom E Valley,Qianmo Road,Binjiang District-->
  <!--~ 2013-2015. All rights reserved.-->
  <!--&ndash;&gt;-->

<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:p="http://www.springframework.org/schema/p"-->
       <!--xmlns:tx="http://www.springframework.org/schema/tx"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xmlns:jpa="http://www.springframework.org/schema/data/jpa"-->
       <!--xmlns:task="http://www.springframework.org/schema/task"-->
       <!--xmlns:aop="http://www.springframework.org/schema/aop"-->
       <!--xsi:schemaLocation="-->
       <!--http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
       <!--http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd-->
       <!--http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd-->
       <!--http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd-->
       <!--http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd-->
       <!--http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"-->
<!--&gt;-->

    <!--<import resource="spring-datasource-local.xml"/>-->
    <!--&lt;!&ndash;<import resource="spring-datasource-test.xml"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<import resource="spring-datasource-prod.xml"/>&ndash;&gt;-->

    <!--&lt;!&ndash; Jpa 事务管理器  &ndash;&gt;-->
    <!--<bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"-->
          <!--p:entityManagerFactory-ref="entityManagerFactory"/>-->

    <!--&lt;!&ndash; 开启注解事务 &ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="transactionManager" mode="aspectj"/>-->

<!--</beans>-->